name: Deploy Cloud Native Resources

on:
  #   pull_request:
  #     branches:
  #       - main
  #   push:
  #     branches:
  #       - main

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  tf-apply:
    name: Deploy
    runs-on: ubuntu-latest
    environment: development
    env:
      TF_VAR_user_ocid: ${{ secrets.OCI_USER_OCID }}
      TF_VAR_tenancy_ocid: ${{ secrets.OCI_TENANCY_OCID }}
      TF_VAR_fingerprint: ${{ secrets.OCI_FINGERPRINT }}
      TF_VAR_private_key: ${{ secrets.OCI_PRIVATE_KEY }}
      TF_VAR_region: ${{ secrets.OCI_REGION }}
      TF_VAR_object_storage_namespace: ${{ secrets.OCI_OBJECT_STORAGE_NAMESPACE }}
    defaults:
      run:
        working-directory: ./apps/infra/k8s-cluster/oracle
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Write secret to file
        run: |
          printf '%s' '${{ secrets.MY_SECRET_CONTENT }}' > /tmp/oci_private_key.pem

      - name: Terraform init
        env:
          OCI_USER_OCID: ${{ secrets.OCI_USER_OCID }}
          OCI_TENANCY_OCID: ${{ secrets.OCI_TENANCY_OCID }}
          OCI_REGION: ${{ secrets.OCI_REGION }}
          OCI_FINGERPRINT: ${{ secrets.OCI_FINGERPRINT }}
          OCI_COMPARTMENT_OCID: ${{ secrets.OCI_COMPARTMENT_OCID }}
          OCI_NAMESPACE: ${{ secrets.OCI_OBJECT_STORAGE_NAMESPACE }}
        run: |
          terraform init \
            -input=false \
            -backend-config="namespace=${OCI_NAMESPACE}" \
            -backend-config="private_key_path=/tmp/oci_private_key.pem"
